.BoardSection {
    &__popup {
        position: fixed;
        box-shadow: 5px 5px 5px 5px grey;
        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
        min-height: 500px;
        width: 900px;
        background-color: white;
        z-index: 5;

        .popup__header {
            @apply
            flex justify-between items-center
            px-2 py-3
            bg-blue-50
            ;

            .header-left {
                @apply
                font-bold
                text-lg
                ;
            }

            .header-right {
                @apply flex;
                cursor: pointer;
            }
        }

        .popup__body {
            &__wrapper{
                @apply
                px-20 py-5
                ;

                .itemText{
                    @apply text-4xl;
                }

                .title{
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                }
                .content{
                }
                input, textarea{
                    @apply
                    p-3;

                    height: 100%;
                    flex-grow: 1;
                    border-radius: 8px;
                    border: #1f2530 solid 1px;
                }
                textarea{
                    min-height: 300px;
                }
                .btnArea{
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 20px;
                }
            }
        }
    }
    .popup_behindLayer{
        opacity: 0.7;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #3e4247;
    }
}